<style>
    #Final{
        color: #fff !important;
    }
</style>

<footer class="text-center text-lg-start text-muted">
    <div class="text-center p-4">
        <p id="Final">Projeto final denvoldido para a matéria de EWAI4 <br> 
            IFSP - Campus Jacareí <br> 
            Professor Lineu <br>
            © 2022 Copyright: Bruna M, Cristian, Felipe e Joshua
        </p>
    </div>
</footer>